body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    padding-bottom: 72px;
}

.left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 16px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
}

#head{
    display: flex;
    width: 500px;
    height: 250px;
    border-radius: 0;
    border: 0;
}

#logo{
    font-size: 24px;
}

#one{
    font-size: 48px;
    font-weight: bolder;
}

#two{
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: lighter;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#content{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 64px;
    font-size: 18px;
    font-weight: lighter;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    gap: 8px;
    text-align: center;
}

img{
    height: 200px; 
    width: 200px; 
    border: 2px solid black;
    border-radius: 15px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 32px 8px;
}

.text{
    display: flex;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 15%;
}

.apply, button{
    background-color: #3882F6
}

button{
    padding: 6px 16px;
    color: white;
    border-radius: 10px;
}

.apply{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;
    flex: auto;
    margin: auto;
    border-radius: 10px;
    padding: 20px 0;
}

#small{
    font-weight: lighter;
    font-size: medium;
}
